<a href="https://colab.research.google.com/github/VIGNESHPERNI/EDA_21BDS0161/blob/main/21BDS0161_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
print("21BDS0161")
print("Kranthi Vignesh Perni")

21BDS0161
Kranthi Vignesh Perni

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
data = pd.read_csv('engin.csv')
print(data.shape)
print(data.info())
print(data.describe())
print(data.head())

(403, 18)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 403 entries, 0 to 402
Data columns (total 18 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   rownames  403 non-null    int64
 1   male      403 non-null    int64
 2   educ      403 non-null    int64
 3   wage      403 non-null    int64
 4   swage     403 non-null    int64
 5   exper     403 non-null    int64
 6   pexper    403 non-null    int64
 7   lwage     403 non-null    float64
 8   expersq   403 non-null    int64
 9   highgrad  403 non-null    int64
 10  college   403 non-null    int64
 11  grad      403 non-null    int64
 12  polytech  403 non-null    int64
 13  highdrop  403 non-null    int64
 14  lswage    403 non-null    float64
 15  pexpersq  403 non-null    int64
 16  mleeduc   403 non-null    int64
 17  mleeduc0  403 non-null    int64
dtypes: float64(2), int64(16)
memory usage: 56.8 KB
None
         rownames        male        educ           wage         swage  \
count  403.000000  403.000000  403.000000     403.000000    403.000000
mean   202.000000    0.528536   13.732010   34683.436725  17158.027295
std    116.480327    0.499806    2.774734   17041.548694   7628.793528
min      1.000000    0.000000    8.000000   15900.000000   9750.000000
25%    101.500000    0.000000   12.000000   24150.000000  12375.000000
50%    202.000000    1.000000   14.000000   28500.000000  15000.000000
75%    302.500000    1.000000   15.000000   37800.000000  18000.000000
max    403.000000    1.000000   20.000000  103750.000000  60000.000000

            exper      pexper       lwage     expersq    highgrad     college  \
count  403.000000  403.000000  403.000000  403.000000  403.000000  403.000000
mean    13.513648   11.310174   10.363192  185.677419    0.411911    0.119107
std      1.751101   10.476012    0.401836   47.547360    0.492791    0.324317
min      6.000000    0.000000    9.674074   36.000000    0.000000    0.000000
25%     12.000000    3.000000   10.092040  144.000000    0.000000    0.000000
50%     14.000000    8.000000   10.257659  196.000000    0.000000    0.000000
75%     15.000000   17.000000   10.540065  225.000000    1.000000    0.000000
max     17.000000   40.000000   11.549740  289.000000    1.000000    1.000000

             grad    polytech    highdrop      lswage     pexpersq  \
count  403.000000  403.000000  403.000000  403.000000   403.000000
mean     0.119107    0.270471    0.079404    9.678186   237.394541
std      0.324317    0.444756    0.270705    0.355112   363.082718
min      0.000000    0.000000    0.000000    9.185022     0.000000
25%      0.000000    0.000000    0.000000    9.423415     9.000000
50%      0.000000    0.000000    0.000000    9.615806    64.000000
75%      0.000000    1.000000    0.000000    9.798127   289.000000
max      1.000000    1.000000    1.000000   11.002100  1600.000000

          mleeduc    mleeduc0
count  403.000000  403.000000
mean     7.945409    0.545906
std      7.758609    2.002424
min      0.000000   -6.000000
25%      0.000000    0.000000
50%     12.000000    0.000000
75%     15.000000    1.000000
max     20.000000    6.000000
   rownames  male  educ   wage  swage  exper  pexper      lwage  expersq  \
0         1     0    12  20400  11250      6       0   9.923290       36
1         2     0    12  23850  12750     12       3  10.079539      144
2         3     0    12  22800  11250     12       0  10.034515      144
3         4     0    12  20700  11250     12       0   9.937889      144
4         5     0    12  21300  11250     12       1   9.966462      144

   highgrad  college  grad  polytech  highdrop    lswage  pexpersq  mleeduc  \
0         1        0     0         0         0  9.328123         0        0
1         1        0     0         0         0  9.453286         9        0
2         1        0     0         0         0  9.328123         0        0
3         1        0     0         0         0  9.328123         0        0
4         1        0     0         0         0  9.328123         1        0

   mleeduc0
0         0
1         0
2         0
3         0
4         0